* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 32px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.content {
    max-width: 1050px;
    max-height: 1372px;
    background-image: url("img/bg.png");
    margin-left: auto;
    margin-right: auto;
}

.logo {
    text-align: center;
    height: 200px;
    width: 100%;
}

.logo img {
    position: relative;
    top: 55px;
    opacity: 0.4;
    padding: 5px;
    box-shadow: 0 0 2px #FF0000, 0 0 3px #0000FF;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.box h2 {
    text-shadow: 1px 1.73px 2px rgba(43, 1, 0, 0.75);
    margin-bottom: 20px;
}

.bg-form {
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    width: 420px;
    padding: 20px;
}

.bg-form form {
    background-color: #F4F4F4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    width: 380px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.inputbox {
    width: 338px;
    height: 39px;
    font-size: 0.5em;
    border-radius: 3px;
    box-shadow: 1px 1.73px 0 #FFFFFF;
    background-image: linear-gradient(white, black);
    opacity: 0.38;
    border: 1px solid #C6C6C6;
    display: flex;
    margin: 0px auto 15px auto;
}

.iconbox {
    max-width: 50px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid #DEDEDE;

}

.iconbox img {
    width: 23px;
    height: 22px;
}

.inputbox input {
    width: 280px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: transparent;
    margin-left: 10px;
    /* background-color: rgba(0, 0, 0, 0); */
}

.terms {
    height: 23px;
    margin-bottom: 40px;
    text-align: left;
    padding: 0 5px;
}

.terms label {
    font-size: 17px;
    color: #AFAFAF;
}

.button input[type="submit"] {
    width: 339px;
    height: 48px;
    font-size: 24px;
    background-color: #93D02B;
    border: 1px solid #3A9A00;
    border-radius: 3px;
    box-shadow: 0.5px 0.87px 0 #FFFFFF;
    background-image: linear-gradient(rgba(255, 255, 255, 0.36), rgba(0, 0, 0, 0.36));
    text-shadow: 0.56px 0.83px 0 #51850E;
}

.area textarea {
    width: 337px;
    height: 230px;
    background-color: #F8F8F8;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
    box-shadow: 1px 1.73px 0 #FFF;
    background-image: linear-gradient(rgba(255, 255, 255, 0.36), rgba(0, 0, 0, 0.36));
    font-size: 0.5em;
    padding: 10px;
}

.button2 input[type="submit"] {
    width: 139px;
    height: 41px;
}

.remember {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 10px;
    margin-bottom: -10px;
}

.button3 input[type="submit"] {
    font-size: 18px;
}

.button4 input[type="submit"] {
    background-color: #BCDB97;
    border: 1px solid #90CA6D;
}

.red-button input[type="submit"] {
    background-color: #F4495B;
    border: 1px solid #A2202A;
}

.logo-bottom img {
    width: 353px;
    height: 130px;
    margin-top: 40px;
    opacity: 0.4;
    padding: 5px;
}